.menu-title-container{
    color: #FFF;
  }
  .menu-title-container > h1{
    margin: 15px auto;
    font-size: 135px;
    font-weight: bolder;
    font-family: 'segoe UI';
    display: flex;
    justify-content: center;
  }
  .menu-title-container > hr{
    margin: 20px 0px 0px 0px;
  }
