.container__content{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container__content > a{
  margin-top: 20px;
}
.content__cover > img{
  width: 500px;
  min-width: 500px;
  height: 300px;
}
.content__title{
  margin-top: 25px;
}
.content__title > hr{
  margin: 3px 0px 0px 0px;
}
.content__description{
  margin-top: 25px;
}
.content__description > p{
 margin: 0px 50px; 
 color: grey;
}